# Skopiuj ten plik jako .env i uzupelnij wartosci

# Baza danych
DB_NAME=comments_automation
DB_USER=app
DB_PASSWORD=ZMIEN_MNIE
MYSQL_ROOT_PASSWORD=ZMIEN_MNIE_ROOT

# Meta (Facebook/Instagram) API
META_PAGE_ACCESS_TOKEN=EAAxxxxxxxxxxxxxx
META_WEBHOOK_VERIFY_TOKEN=moj_tajny_token_weryfikacyjny
META_API_VERSION=v19.0

# Serwer (HTTP - SSL terminowany przez Synology Reverse Proxy)
SERVER_PORT=8080
